# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Eclipse or Nodeclipse "Enide Studio" Files
# --------------------
.project
.settings/
.*.md.html

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Netbeans Files
# --------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# --------------------
# Ensime Files
# --------------------
.ensime
.ensime_cache/
\#*

# --------------------
# vim Files
# --------------------
*.swp

# --------------------
# SASS Files
# --------------------
.sass-cache/

# --------------------
# App Files
# --------------------
data/
target/
temp/
assembly/
logs/
node_modules/
lib/
derby.log
metastore_db/
